*{
  font-family: 'Poppins', sans-serif;
}
body {
  background-color: rgb(43, 43, 43);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: .5rem;
  width: 100%;
  padding: .5rem;
}
.task-container {
  display: flex;
  justify-Content: space-between;
  align-items: center;
  padding: .1rem .4rem;
  border-Radius: .5rem;
  margin-Bottom: 1rem;
  margin-inline: .3rem;
}
.linkstyle {
  text-decoration: none;
}